{% extends 'base.html' %}

{% block title %}
{% endblock %}



{% block content %}
    {% if not user.is_authenticated %}
        <a href="{% url 'user:login' %}">Login</a>
        <a href="{% url 'user:signup' %}">Sign Up</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href={% url 'user:logout' %}>Logout</a>
        <a href={% url 'blog:create' %}>Create</a>
    {% endif %}
    {% for post in list %}
        <ul style="list-style-type: none">
            <li>
                <a href= {{ post.get_absolute_url }}>{{ post }} {{ post.status }}</a>
            </li>
        </ul>
    {% endfor %}

    <div>
        <ul style="list-style-type: none; margin: 0; padding: 0; display: flex;">
            {% for p in paginator.page_range %}
                <li style="margin-right: 10px;">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}